@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  color: #4ade80;
  background-color: #000;
}

.custom-img {
  background-image: url('https://cdn.pixabay.com/photo/2016/08/10/19/16/port-arthur-1584098_960_720.jpg');
}